# OSX
#
.DS_Store

# VSCode
.vscode/
jsconfig.json

# node.js
#
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# BUCK
*/buck-out/
*/\.buckd/

# Turborepo
.turbo/

# Docusaurus
/docusaurus/.docusaurus/
/docusaurus/build/

# Expo
.expo/
expo-env.d.ts

# Example App
/example/android/
/example/ios/

# Package
/package/android/build/
/package/lib/
# geneated by prepack-package script
/package/LICENSE
/package/README.md

tsconfig.tsbuildinfo
